.clearfix{
    display: table;
    content: "";
    clear: both;
  }

.boxes{
    padding-top: 40px;
    padding-bottom: 40px;
}
.box-mini{
    border-radius: 20px;
    border: 2px #fff solid;
    margin-top: 12px;
}

.box-mini:hover{
    border: 2px blue solid;
}

.box-mini-inner{
    border: 2px #fff solid;
    overflow: hidden;
    border-radius: 20px;
}
.box-mini img{
    width: 100%;
}

.no-limit{
    padding-top: 48px ;
}

.accent{
    color: #0072ce;
}

.no-limit p{
    color: gray;
    margin-top: 16px;
}

.description{
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn{
    border-radius: 50px;
}

.duo{
    padding-top: 54px;
}

.duo img{
    width: 100%;
}

.accessori img{
    width: 100%;
    padding-top: 18px;
    padding-right: 18px;
}
.accessori p{
    margin-top: 16px;
    color: gray;
}

.catalogo{
    background-color: #1f1f1f;
    padding-bottom: 54px;
    padding-top: 36px;
}

.catalogo img{
    width: 100%;
    margin-top: 36px;
    border-radius: 10px;
}

.catalogo p {
    color: white;
    margin-top: 9px;
}
.catalogo h3, .catalogo h5{
    margin-bottom: 9px;
    color: white;
}

.trio{
    padding-top: 54px;
    padding-bottom: 54px;
}

.trio img{
    width: 100%;
}
.trio p{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 20px;
}

.duo-bis{
    background-color: #bebcbb;
}

.duo-bis img{
    width: 100%;
}

.btn-outline-primary {
    background-color: #eee;
    font-size: 18px;
}
.plus{
    margin-top: 20px;
    margin-bottom: 20px;
}
