/*navbar section*/
.navbar-dark svg {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-dark .navbar-toggler{
    border-color: lightgray;
}

.navbar-brand svg{
    width:100%;
    fill: blue;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    color: black;
    padding-right: 16px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: royalblue;
}


.fas{
    margin-left: 10px;
    font-size: 10px;
    color: lightgray;
}

a:hover .fas{
    color: royalblue;
}

a{
    text-decoration: none;
}

.d-flex .btn{
    border-radius: 50px;
    margin-right: 16px;
    color: white;
}

.d-flex .fa{
    font-size: 18px;
    margin-right: 16px;
    color: black;
}
/*jumbotron Returnal*/
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 700px;
}

.buy{
    margin-top: 350px;
}
.jumbotron img{
    width: 100%;
}

.jumbotron h2{
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}

.jumbotron p{
    color: white;
    padding-top: 16px;
}

.jumbotron .btn{
    background-color: tomato;
    border-radius: 50px;
    border: 2px solid transparent;
}

/*sezione mini-box*/
.boxes{
    padding-top: 40px;
    padding-bottom: 40px;
}

.box-mini{
    border-radius: 20px;
    border: 2px #fff solid;
    margin-top: 12px;
    cursor: pointer;
}

.box-mini:hover{
    border: 2px blue solid;
    transition: 1s;
    margin-top: 0px;
    box-shadow: 0px 10px 5px lightgray;
    opacity: none;
}

.box-mini img:hover{
    opacity: 1;
}

.box-mini-inner{
    border: 2px #fff solid;
    overflow: hidden;
    border-radius: 20px;
}

.box-mini img{
    width: 100%;
    opacity: 0.7;
}

/*sezione ps5 con accessori*/
.no-limit{
    padding-top: 48px;
}

.accent{
    color: #0072ce;
}

.no-limit p{
    color: gray;
    margin-top: 16px;
}

.description{
    margin-top: 16px;
    margin-bottom: 32px;
}

.duo{
    padding-top: 54px;
}

.duo .btn{
    border-radius: 50px;
}

.duo img{
    width: 100%;
}

.item{
    height: 275px;
    border-bottom: #fff 2px solid;
}

.accessori{
    padding-bottom: 54px;
}

.accessori img{
    width: 100%;
    padding-top: 18px;
    padding-right: 18px;
    opacity: 0.7;
}

.accessori p{
    margin-top: 16px;
    color: gray;
}

.item:hover img,.item:hover p{
    opacity: 1;
    color: black;
}

.item:hover{
    cursor: pointer;
    border-bottom: blue 2px solid;
}

/*sezione jumbotron it takes two*/
.jumbotron2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}

.jumbotron2 img{
    width:70%;
}

.jumbotron2 h2{
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 40px;
}

.jumbotron2 p{
    color: white;
    padding-top: 16px;
}

.jumbotron2 .btn{
    background-color: tomato;
    border-radius: 50px;
}

.buy2{
    margin-top: 96px;
}

/*catalogo 12 game*/
.catalogo{
    background-color: #1f1f1f;
    padding-bottom: 54px;
    padding-top: 36px;
}

.catalogo img{
    width: 100%;
    margin-top: 36px;
    border-radius: 10px;
}

.catalogo p {
    color: white;
    margin-top: 9px;
}
.catalogo h3, .catalogo h5{
    margin-bottom: 9px;
    color: white;
}

/*sezione ps4*/
.trio{
    padding-top: 54px;
    padding-bottom: 54px;
}

.trio .btn{
    border-radius: 50px;
    margin-bottom: 6px;
}

.trio img{
    width: 100%;
}
.trio p{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 20px;
    height: 120px;
}

/*sezione Plus*/
.duo-bis .btn{
    border-radius: 50px;
    font-weight: bold;
    color: royalblue;
    background-color: lightgray;
    border: none;
}

.duo-bis{
    background-color: #bebcbb;
}

.duo-bis img{
    width: 100%;
}

@media only screen and (max-width: 767px){
    .plus{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .trio p{
        margin-bottom: 13px;
        height: 100px;
    }
    .item{ 
        height: 250px
    }    
  }

/*sezione Deal*/
.trio-bis{
    padding-top: 24px;
    padding-bottom: 54px;
}

.trio-bis img{
    width: 100%;
    margin-top: 32px;
}

/*sezione Now*/
.now img{
    width: 100%;
}

.now{
    background-color: #101737;
}

.now p{
    color: white;
}

.now .btn{
    border-radius: 50px;
    color: black;
    background-color: white;
    font-weight: bold;
    border: none;
}

/*sezione social*/
.social{
    padding-top: 24px;
    padding-bottom: 54px;
}

.social img{
    width: 100%;
    margin-top: 32px;
}

/*footer*/
footer{
    background-color: #00439c;
    padding-top: 72px;
    padding-bottom: 72px;
}

footer .fas{
    font-size: 24px;
    vertical-align: middle;
    margin-right: 9px;
    color: #fff;
}

.country{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fff;
}

ul{
    color: #fff;
    list-style: none;
}

footer li{
    margin-bottom: 9px;
}

footer p{
    color: white;
    padding-top: 16px;
}